.main-header {
    display: flex;
    color: #9C7BD7;
    font-family: 'Space Mono', monospace;
    background: linear-gradient(-70deg,  #202020, #0b0b0b);
    border-bottom: 1px solid #9C7BD7;
    padding: 15px;
    /* transition: 0.5s; */
}

/* .main-header, h1, button, .main-footer {
    transition: 0.6s;
} */

div#navbarSupportedContent {
    display: inline-flex;
    right: 15px;
    position: absolute;
}

.main-header ul, #navbarSupportedContent > div > ul {
    display: flex;
}

.main-header ul a, .footer-right ul li {
    list-style-type: none;
    text-decoration: none;
    margin: 10px;
}

.main-header ul a li  {
    text-decoration: none;
    font-size: large;
    font-weight: 900;
    color: #838383;
    font-family: 'Poppins', sans-serif;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    inset: 0;
    letter-spacing: 1px;
}

.main-header ul a:hover li {
    color: #404040;
    /* transform: translate(1rem, 0); */
}
