.main, .flex-content, .content-code, .spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 40vh; */
  margin-top: 50px;
  margin-bottom: 50px;
}

.content, pre {
  width: 700px;
  padding: 20px;
  color: rgb(176, 176, 176);
  border-radius: 20px;
  background-color: rgb(240, 244, 247);
  background-image: linear-gradient(-70deg,  #151515, #1e1d1d);
}

.lien {
  cursor: pointer;
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

.account {
  /* position: absolute; */
  right: 15px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background-color: #12b688;
  font-size: medium;
  border: none;
  border-radius: 0.5rem;
  transition: 1s;
  cursor: pointer;
  animation: wiggle 2s linear infinite;
}

.account:hover {
  background-color: #41B993;
  color: #59756d;
}

.glass-1 {
  height: 280px;
  width: 420px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(35px);
  border: 2px solid #6b5590;
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.25);
  padding: 30px 30px 30px 30px;
  overflow: hidden;
  transition: 1s all;
}

.glass-1 h2 {
  color: #9C7BD7;
  margin-bottom: 15px;
}

.glass-1 p {
  color: rgb(190, 190, 190);
  font-family: 'Poppins', sans-serif;
  line-height: 1.5em;
}

.glass-1:hover {
  background-color: #6b5590;
}

.glass-2 {
  width: 400px;
  min-height: 250px;
  margin-left: 4em;
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 #202020;
  backdrop-filter: blur( 18px );
  -webkit-backdrop-filter: blur( 18px );
  border: 2px solid #59756d;
  border-radius: 1rem;
  padding: 1.5rem;
  z-index: 10;
  color: whitesmoke;
  transition: 1s all;
}

.glass-2 h2 {
  color: #41B993;
  margin-bottom: 15px;
}

.glass-2 p {
  color: rgb(190, 190, 190);
  font-family: 'Poppins', sans-serif;
  line-height: 1.5em;
}

.glass-2:hover {
  background-color: #59756d;
}

span {
  color: #9C7BD7;
  margin-top: 15px;
  font-size: 20px;
}

.green {
  color: #41B993;
}


.input-text-box {
  border-radius: 5px;
  background-color: #1b1a1a;
  font-size: 15px;
  height: 45px;
  width: 100%;
  letter-spacing: 1px;
  margin: 6px;
  padding: 5px;
  border: 2px solid transparent;
}

.input-text-box:focus {
  color: #12b688;
}

.input-text-box:hover {
  border-color: #41B993;
}

.form-control:focus {
  box-shadow: none !important;
  border-color: #f5bc04 !important;
}

.btn-sign-in {
  background: #4a645d;
  border-radius: 0;
  border: 2px solid transparent;
  color: #fff;
  padding: 10px 50px;
  border-radius: 5px;
}

.btn-sign-in:hover {
  color: #41B993;
  border-color: #12b688;
}

.btn-sign-up {
  background: #223a61;
  border-radius: 0;
  border: 2px solid transparent;
  color: #fff;
  padding: 10px 50px;
  border-radius: 5px;
}

.btn-sign-up:hover {
  color: #4287f5;
  border-color: #4287f5;
}

.blog-form input:focus {
  border-color: #f5bc04 !important;
}

/* Spinner */

.spinner {
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 67px;
  height: 67px;
}
.spinner:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-left: 10px;
  border-radius: 50%;
  border: 2px solid #41B993;
  border-top-color: #59756d;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

/* Scroll to top button */

.back-to-top-button {
  position: fixed;
  bottom: 50px;
  right: 20px;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.back-to-top-button.hidden {
  opacity: 0;
  pointer-events: none;
}

.fa-chevron-up {
  font-size: 30px;
  color: #12b688;
}

.fa-chevron-up:hover {
  color: #59756d;
}

/* Blog heading */

.blog-heading {
  font-size: 24px;
  color: #41B993;
  border-bottom: 1px solid #777;
}

.row.pb-4 {
  display: flex;
}

.category {
  display: inline-block;
  position: relative;
  background-color: #4287f5;
  padding: 4px 8px;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  text-transform: none;
  line-height: 16px;
  font-weight: 700;
  border-radius: 4px;
}