.main, 
.flex-content, 
.content-code, 
.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 40vh; */
  margin-top: 50px;
  margin-bottom: 50px;
}

.content, pre {
  width: 700px;
  padding: 20px;
  color: rgb(176, 176, 176);
  border-radius: 20px;
  background-color: rgb(240, 244, 247);
  background-image: linear-gradient(-70deg,  #151515, #1e1d1d);
}

.lien {
  cursor: pointer;
}

/* @keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
} */

.account.nav-link.active, 
.nav-item.nav-link.active {
  right: 15px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background-color: #12b688;
  color: #394a45;
  font-size: medium;
  border: none;
  border-radius: 0.5rem;
  /* transition: 1s; */
  cursor: pointer;
}

.glass-1 {
  height: 280px;
  width: 420px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(35px);
  border: 2px solid #6b5590;
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.25);
  padding: 30px 30px 30px 30px;
  overflow: hidden;
  transition: 1s all;
}

.glass-1 h2 {
  color: #9C7BD7;
  margin-bottom: 15px;
}

.glass-1 p {
  color: rgb(190, 190, 190);
  font-family: 'Poppins', sans-serif;
  line-height: 1.5em;
}

.glass-1:hover {
  background-color: #6b5590;
}

.glass-2 {
  width: 400px;
  min-height: 250px;
  margin-left: 4em;
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 #202020;
  backdrop-filter: blur( 18px );
  -webkit-backdrop-filter: blur( 18px );
  border: 2px solid #59756d;
  border-radius: 1rem;
  padding: 1.5rem;
  z-index: 10;
  color: whitesmoke;
  transition: 1s all;
}

.glass-2 h2 {
  color: #41B993;
  margin-bottom: 15px;
}

.glass-2 p {
  color: rgb(190, 190, 190);
  font-family: 'Poppins', sans-serif;
  line-height: 1.5em;
}

.glass-2:hover {
  background-color: #59756d;
}

span {
  color: #9C7BD7;
  margin-top: 15px;
  font-size: 20px;
}

.green {
  color: #41B993;
}

.input-text-box, 
.description-box, 
.react-tag-input, 
.catg-dropdown, 
.form-control {
  border-radius: 5px;
  background-color: #1b1a1a;
  color: #12b688;
  font-size: 15px;
  height: 45px;
  width: 100%;
  letter-spacing: 1px;
  margin: 13px;
  padding: 9px;
  border: 2px solid transparent;
}

input[type="radio"].form-check-input {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  margin-top: 5px;
}

.mb-3 {
  /* border: ; */
  border: 2px solid #276050;
  border-radius: 8px;
  padding-right: 26px;
  margin-bottom: 15px;
}

.input-text-box:focus-visible, 
.description-box:focus-visible, 
.react-tag-input:focus-visible, 
.catg-dropdown:focus-visible, 
.form-control:focus-visible {
  outline: #12b688;
  transition: 1s all;
}

.form-control:focus {
  box-shadow: none !important;
  border-color: #12b688;
}

.btn-sign-in, 
.btn.btn-add {
  background: #4a645d;
  border-radius: 0;
  border: 2px solid transparent;
  color: #fff;
  padding: 10px 50px;
  border-radius: 5px;
}

.btn-sign-in:hover, 
.btn.btn-add:hover {
  color: #41B993;
  border-color: #12b688;
}

.btn-sign-up {
  background: #223a61;
  border-radius: 0;
  border: 2px solid transparent;
  color: #fff;
  padding: 10px 50px;
  border-radius: 5px;
}

.btn-sign-up:hover {
  color: #4287f5;
  border-color: #4287f5;
}

.blog-form input:focus {
  border-color: #f5bc04 !important;
}

.text-center.heading.py-2, 
.small.fw-bold.mt-2.pt-1.mb-0, 
.text-center.heading-py-2, 
.trending, 
.form-check-inline.mx-2 {
  color: rgb(162, 162, 162);
}

/* Spinner */

.spinner {
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 67px;
  height: 67px;
}
.spinner:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-left: 10px;
  border-radius: 50%;
  border: 2px solid #41B993;
  border-top-color: #59756d;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

/* Scroll to top button */

.back-to-top-button {
  position: fixed;
  bottom: 50px;
  right: 20px;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.back-to-top-button.hidden {
  opacity: 0;
  pointer-events: none;
}

.fa-chevron-up {
  font-size: 30px;
  color: #12b688;
}

.fa-chevron-up:hover {
  color: #59756d;
}

/* Blog heading */

.blog-heading {
  font-size: 24px;
  color: #41B993;
  border-bottom: 1px solid #6b5590;
}

.blog-heading-title {
  margin: 64px;
}

.row.pb-4 {
  display: flex;
  margin-top: 30px;
  background-color: #202020;
  justify-content: space-evenly;
}

.category {
  display: inline-block;
  position: relative;
  background-color: #4287f5;
  padding: 4px 8px;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  text-transform: none;
  line-height: 16px;
  font-weight: 700;
  border-radius: 4px;
}

/* Dropdown */

.dropdown {
  background-color: #41B993;
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  overflow: hidden;
  padding: 5px 10px;
  border-radius: 8px;
}

.dropdown p {
  color: #4a645d;
  font-weight: 500;
  margin-right: 5px;
}

li.nav-link.logout {
  cursor: pointer;
  margin-right: 5px;
  background-color: #4a645d;
  padding: 5px;
  border-radius: 5px;
  transition: 1s all;
}

li.nav-link.logout:hover {
  background-color: #12b688;
  color: #4a645d;
}

/* .dropdown p, .dropdown li.nav-link {
  visibility: hidden;
} */

.error {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error img {
  width: 100%;
}

.btn.btn-link {
  color: #4287f5;
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 25px;
}

.btn.btn-link:hover {
  color: #376abb;
}

#customer-testimonoals .item {
  text-align: center;
  padding-top: 25px;
  /* padding: 50px; */
  margin-bottom: 0px;
  /* opacity: 0.2;
  transform: scale3d(0.8, 0.8, 1);
  transition: all 0.3s ease-in-out; */
}

.item a {
  text-decoration: none;
}

.trending-img-position {
  background-color: #171717;
  padding: 16px;
  border-radius: 10px;
}

.trending-img-position:hover {
  background-color: #202020;
  transition: 0.6s all ease-in-out;
}

.trending-img-position img {
  border-radius: 10px;
}

.trending-meta-info {
  color: #41B993;
}

#customer-testimonoals .owl-item.active.center .item {
  opacity: 1;
  transform: scale3d(1.0, 1.0, 1);
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #56423D;
  transform: translate3d(0px, -50%, 0px) scale(0.8);
}
.owl-carousel .owl-dots {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.owl-carousel .owl-dots .owl-dot{ 
  display: inline-block;
}
.owl-carousel .owl-dots .owl-dot span{ 
  /* background: #eaa400; */
  background: #f88568;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 2px 5px;
  transform: translate3d(0px, -50%, 0px) scale(0.3);
  transform-origin: 50% 50% 0;
  transition: all 250ms ease-out 0s;
} 

/* */

.container-fluid.mb-4 {
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.description-box {
  width: 519px;
  height: 165px;
}


#customer-testimonoals .item {
  text-align: center;
  /* padding: 50px; */
  margin-bottom: 0px;
  opacity: 0.2;
  transform: scale3d(0.8, 0.8, 1);
  transition: all 0.3s ease-in-out;
}
#customer-testimonoals .owl-item.active.center .item {
  opacity: 1;
  transform: scale3d(1.0, 1.0, 1);
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #56423D;
  transform: translate3d(0px, -50%, 0px) scale(0.8);
}
.owl-carousel .owl-dots {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.owl-carousel .owl-dots .owl-dot{ 
  display: inline-block;
}
.owl-carousel .owl-dots .owl-dot span{ 
  /* background: #eaa400; */
  background: #56423D;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 2px 5px;
  transform: translate3d(0px, -50%, 0px) scale(0.3);
  transform-origin: 50% 50% 0;
  transition: all 250ms ease-out 0s;
}

/* Blog title */

.blog-title-box {
  background-repeat: no-repeat;
}

.blog-title {
  width: 100%;
}